root = true

# Global settings
[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# C settings
[*.c]
indent_size = 4

# Rust settings
[*.rs]
indent_size = 4

# Go settings
[*.go]
indent_style = tab
max_line_length = 80
tab_width = 8

# Python settings
[*.py]
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab

# Bash/ShellScript settings
[*.{sh,bash}]
indent_style = space
indent_size = 2

# YAML settings
[*.{yaml,yml}]
indent_size = 2

# TOML settings
[*.toml]
indent_size = 2

# Lua settings
[*.lua]
indent_size = 2
