root                     = true

# Global settings
[*]
charset                  = utf-8
end_of_line              = lf
indent_size              = 4
indent_style             = space
insert_final_newline     = true
max_line_length          = 80
trim_trailing_whitespace = true

# C settings
[*.{c,h}]
indent_size              = 8
indent_style             = tab

# Go settings
[*.go]
indent_size              = 8
indent_style             = tab

# Makefile settings
[*Makefile]
indent_size              = 8
indent_style             = tab

# Bash/ShellScript settings
[*.{sh,bash}]
indent_size              = 2
indent_style             = space

# YAML settings
[*.{yaml,yml}]
indent_size              = 2

# TOML settings
[*.toml]
indent_size              = 2

# Lua settings
[*.lua]
indent_size              = 2
